cffi==1.10.0
cycler==0.10.0
matplotlib==2.0.2
numpy==1.13.1
pycparser==2.18
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
scipy==0.19.1
six==1.10.0
SoundFile==0.9.0.post1
scikit-learn==0.14.1
pandas==0.19.1
xlsxwriter==0.9.8
seaborn==0.8